* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$columns: 12;
$column-width: 100%/$columns;
$breakpoints: (xs : 0, sm : 768px, md : 992px, lg : 1200px );
@function column-width($column) {
     @return $column-width*$column;
}
@mixin column($media, $min-width) {
     @media (min-width:$min-width){
        @for $i from 1 through $columns {
            .column-#{$media}-#{$i} {
                width: column-width($i);
                float: left;
            }
          }
    }
}
@each $name, $width in $breakpoints {
     @include column($name, $width);
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

.row {
    margin: 0 35px;
}
@mixin fontDetail ($fSize , $fFamily ,$otherFamily, $fColor , $fLine, $pdLeft) {
    font-size: $fSize;
    font-family: $fFamily,$otherFamily;
    color: $fColor;
    line-height: $fLine;
    padding: 0 $pdLeft;
}
@mixin responsiveImg($width , $height) {
    width: $width;
    height: $height;
}
.header {
    text-align: center;
    margin: 53px 0;
}

.logoMenu{
  @include responsiveImg(14% , 30%);
}
.menuFixed{
  border: 2px solid #efefef;
  position: fixed;

}
#menuTogle {
  display: none;
}

@media screen and (max-width: 768px){
  #menuTogle {
    display: block;
  }
}
.img-epd1 {
    padding: 31px;
    @include responsiveImg(100% , 100%);
}
.menu {

    ul {

        li {
            @include fontDetail (14px , 'Roboto' ,sans-serif, #414549 , 0, 21px);
            display: inline-block;
            padding: 32px 21px;
            list-style: none;
            &:hover {
                padding-bottom: 15px;
                border-bottom: 3px solid #EFEFEF;
            }
        }
    }
}
.divisor {
    width: 98%;
    margin: 0 31px 60px;
    border-top: 4px solid #4285f4;
}
.divisor-pie {
    @extend .divisor;
    width: 100% !important;
    border-color: #EFEFEF !important;
    margin: 30px 0 0 !important;
}
.newfeed-title {
    display: flex;
    padding: 0 !important;
    justify-content: space-between;
}
.redes {
    @include responsiveImg(40px,40px);
}
.redFB,.redes {
    margin: 20px 31px 0;
}

.item {
    padding-bottom: 55px;
    text-align: justify;
    & .img-item {
        width: 90%;
        height: 383px;
        margin: 0 31px;
    }
    & .title1 {
        @include fontDetail(36px , 'Source Sans Pro',sans-serif,#424242,41px ,31px);
    }
    & .title {
        @include fontDetail(24px , 'Source Sans Pro',sans-serif,#424242,41px ,31px);
    }
    & .descripcion {
        @include fontDetail(14px , 'Roboto',sans-serif,#424242,20px,31px);
    }
    & .pie-item {
        @include fontDetail(14px , 'Roboto Mono',monospace,#516368,60px,31px);
    }
    & .texto {
        @include fontDetail(20px , 'Roboto',sans-serif,#414549,33px,31px);
    }
    & .texto3 {
        @include fontDetail(20px , 'Roboto',sans-serif,#424242,33px,31px);
    }
    & .enlace {
        @include fontDetail(14px , 'Roboto',sans-serif,#4285f4,33px,31px);
    }
    & .texto2 {
        @include fontDetail(16px , 'Roboto',sans-serif,#414549,24px,31px);
    }
}

.newsletter {
    background: #F1F3F4;
    margin: 30px 31px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include fontDetail(16px , 'Roboto',sans-serif,#000000,24px,31px);
    p:last-child {
        color: #4285f4 !important;
    }
}
.newsletter1 {
    @extend .newsletter;
    margin: 0 !important;
    background: #fff;
}
.img-text {
    @include responsiveImg(100% , 100%);
    border-radius: 86px;
}
.img-slider {
    @extend .img-item;
    height: 240px !important;
}
.pie-pag {
    .title-pie {
        margin-bottom: 10px;
        @include fontDetail(14px , 'Roboto',sans-serif,#4d4d4d,18px,31px);
    }
    .text-pie {
        list-style: none;
        @include fontDetail(14px ,'Roboto',sans-serif,#516368,18px,31px);
    }
}
